.first {
    background-color: #212020;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    color: white;
    position: fixed;
    text-align:center;
    justify-content: center;
    font-weight: 600;
    height: 1.4cm;
    font-size: large;
}