.myform {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
  .container1 {
    height: 50vh; /* Change to 'auto' so it grows with content */
    width: 20rem;
    display: flex;
    background-color: rgb(245, 248, 248);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    border-radius: 1cm;
  }
  
  .auto-input1 {
    width: 14rem;
    padding: 0.9rem;
    margin-bottom: 1rem;
    border-color: black;
    border-bottom: 2px solid transparent;
    outline: auto;
    border-radius: 5px;
    background-color: rgb(229, 243, 180);
    font-weight: 600;
  }
  
  .myform {
    gap: 0.1rem;
  }
  
  .auto-btn1 {
    width: 13rem;
    color: aliceblue;
    padding: 0.8rem;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    background: #8E2DE2;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .auto-input:focus {
    border-bottom: 3px solid rgb(236, 17, 252);
  }
  
  .shadow1 {
    box-shadow:
      2.8px 2.8px 2.2px rgba(0, 0, 0, 0),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.107),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.119),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.296),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.07),
      100px 100px 80px rgba(0, 0, 0, 0.182);
  }
  